<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.CSS') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='scoket.CSS') }}">
    <title>PDU</title>
</head>

<body>
    <div class="PDU_title">
        <a href="{{ url_for('main') }}">主页</a>
        <a href="{{ url_for('PDUDevice') }}">PDU设备信息</a>
        <a href="{{ url_for('PDUBranch') }}">PDU支路信息</a>
        <a href="{{ url_for('PDU_scoket') }}">PDU插座状态</a>
        <a href="{{ url_for('PDUAlert') }}">报警状态</a>
    </div>

    <div class="socket">
        {% for i in range(8) %} {% if socket_list[7-i] == 1 %}
        <img src="{{ url_for('static', filename = '1.png') }}" height="50px"> {% else %}
        <img src="{{ url_for('static', filename = '0.png') }}" height="50px"> {% endif %} {% endfor %}
    </div>
<div class="PDU">
        <form action="/" method="POST">
            {% for i in range(8) %}
            <button type="submit" name="switch_num" value="{{i}}{{socket_list[7-i]}}" >
                插座{{i+1}}
            </button>
            {% endfor %}
        </form>
    </div>
</body>

</html>